.guesslike{
	$text-color : #FD6801;
	image{
		width: 100%;
		height: 100%;
	}
	width: 100%;
	height: 1860upx;
	.guess-like-list{
		height: auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.list-left{
			width: 49%;
			height: 550upx;
			.guess-like-pic{
				width: 100%;
				height: 360upx;
			}
			.describe{
				width: 100%;
				height: 60upx;
				line-height: 60upx;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.modles{
				@extend .describe;
				font-size: 24upx;
				color: #808080;
			}
			.price{
				@extend .describe;
				.symbol{
					color: red;
					font-size: 25upx;
				}
				.original{
					color: #DC3546;
					font-size: 36upx;
					margin-right: 10upx;
				}
				.discount{
					font-size: 20upx;
					text-decoration: line-through;
					color: #808080;
				}
				
			}
		}
	}
}